In [1]:
import pandas as pd

In [2]:
##movies =pd.read_clipboard()

In [3]:
##movies

In [4]:
movies=pd.read_csv(r'Book1.csv')

In [5]:
movies

,Id,Name,Industry,genre,Language,Duration,Rating
0,NaN,Bahubali,Tollywood,Action,Telugu,170,9.5
1,NaN,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,NaN,uri -the surgical strike,Bollywood,Action,Hindi,120,10.0
3,NaN,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,NaN,Avengers-End of game,Hollywood,Action,English,180,9.0
5,NaN,Tenet,Hollywood,SciFi,English,150,8.5
6,NaN,Major,Bollywood,Action,Hindi,140,8.0
7,NaN,Intersteller,Hollywood,SciFi,English,190,7.0
8,NaN,Gravity,Hollywood,SciFi,English,130,6.0
9,NaN,Titanic,Hollywood,Drama,English,180,9.0
10,NaN,Yeh jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,NaN,Housefull,Bollywood,Comedy,Hindi,150,6.0
12,NaN,The Dictator,Hollywood,Comedy,English,120,7.0
13,NaN,Hera pheri,Bollywood,Comedy,Hindi,140,9.0
14,NaN,Sholay,Bollywood,Drama,Hindi,150,8.5

In [6]:
movies.drop(['Id'],axis=1,inplace=True)

### 1. Find the longest movie name

Find the longest Book1 name?

In [7]:
movies ['Name'][movies['Duration'].argmax()]

'Intersteller'

### 2.Number of movies who got 10 rating?

sum(movies['Rating']==10.0)

In [8]:
movies['Industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: Industry, dtype: int64

In [9]:
movies['Industry'].value_counts().count()

3

In [10]:
len(movies['Industry'].value_counts())

3

In [11]:
movies['Industry'].nunique()

3

### 4. Find liked comedy Movie?

In [12]:
movies[movies['genre'] == 'Comedy']

            Name   Industry   genre Language  Duration  Rating
11     Housefull  Bollywood  Comedy    Hindi       150      6.0
12  The Dictator  Hollywood  Comedy  English       120      7.0
13    Hera pheri  Bollywood  Comedy    Hindi       140      9.0

In [13]:
movies.columns

Index(['Name', 'Industry', 'genre', 'Language', 'Duration', 'Rating '], dtype='object')

In [14]:
movies[movies['genre'] == 'Comedy']['Name','Rating ']

KeyError: ('Name', 'Rating ')

In [ ]:
movies['Name'][movies[movies['genre'] == 'Comedy']['Rating '].idxmin()]

In [ ]:
movies.columns

### 5. longest english movie name?

In [ ]:
movies['Name'][movies[movies['Language']=='English']['Duration'].idxmax()]

### what is the genre of intersteller?

In [ ]:
'hello'.upper()

In [ ]:
'hello'.split('e')

In [ ]:
movies['genre'][movies['Name']=='Intersteller'].values[0]

In [ ]:
movies.columns

In [ ]:
movies['Name'].str.lower()

In [ ]:
movies['genre'][movies['Name'].str.lower()=='Intersteller'.lower()].values[0]

In [ ]:
names = movies['Name']

In [ ]:
names

In [ ]:
names.str.capitalize()

In [ ]:
names.str.casefold()

In [ ]:
names.str.endswith('i')

In [ ]:
names.str.find('e')

In [ ]:
names.str.get(-1)

In [ ]:
names.str.get_dummies()

NameError: name 'names' is not defined

In [ ]:
movies['genre'].str.get_dummies()   ## important function

In [ ]:
names.str.join('.')

In [ ]:
names.str.split('e').str.join('--+--')

In [ ]:
names.str.strip()

NameError: name 'names' is not defined

### 7.what is the average duration of each genre?

In [ ]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [ ]:
movies['genre'].nunique()

In [ ]:
movies['genre'].value_counts()

In [ ]:
for genre in movies ['genre'].unique():
    print(genre,movies[movies['genre']==genre]['Duration'].mean())

In [ ]:
movies.groupby('genre')['Duration'].mean()

In [ ]:
movies.groupby(['genre','Industry'])['Duration'].mean()

In [ ]:
movies.groupby(['Industry','genre'])['Duration'].mean()

In [ ]:
movies.describe()     ##gives stastical data

In [ ]:
movies = pd.read_csv(r'Book1.csv' ,index_col = 0)

In [ ]:
movies

In [ ]:
movies.info()

In [ ]:
movies.describe(include='all')

In [ ]:
movies.groupby('genre').describe().T

genre               Action      Comedy       Drama  Mystereous    Romantic  \
Duration count    4.000000    3.000000    2.000000         1.0    2.000000
         mean   152.500000  136.666667  165.000000       180.0  150.000000
         std     27.537853   15.275252   21.213203         NaN    0.000000
         min    120.000000  120.000000  150.000000       180.0  150.000000
         25%    135.000000  130.000000  157.500000       180.0  150.000000
         50%    155.000000  140.000000  165.000000       180.0  150.000000
         75%    172.500000  145.000000  172.500000       180.0  150.000000
         max    180.000000  150.000000  180.000000       180.0  150.000000
Rating   count    4.000000    3.000000    2.000000         1.0    2.000000
         mean     9.125000    7.333333    8.750000         5.0    7.500000
         std      0.853913    1.527525    0.353553         NaN    3.535534
         min      8.000000    6.000000    8.500000         5.0    5.000000
         25%      8.750000    6.500000    8.625000         5.0    6.250000
         50%      9.250000    7.000000    8.750000         5.0    7.500000
         75%      9.625000    8.000000    8.875000         5.0    8.750000
         max     10.000000    9.000000    9.000000         5.0   10.000000

genre                SciFi
Duration count    3.000000
         mean   156.666667
         std     30.550505
         min    130.000000
         25%    140.000000
         50%    150.000000
         75%    170.000000
         max    190.000000
Rating   count    3.000000
         mean     7.166667
         std      1.258306
         min      6.000000
         25%      6.500000
         50%      7.000000
         75%      7.750000
         max      8.500000

In [ ]:
movies.groupby('Industry').describe().T

Industry         Bollywood   Hollywood  Tollywood
Duration count    8.000000    6.000000        1.0
         mean   147.500000  158.333333      170.0
         std     16.690459   29.268869        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  135.000000      170.0
         50%    150.000000  165.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
Rating   count    8.000000    6.000000        1.0
         mean     7.687500    7.750000        9.5
         std      2.086307    1.254990        NaN
         min      5.000000    6.000000        9.5
         25%      5.750000    7.000000        9.5
         50%      8.250000    7.750000        9.5
         75%      9.250000    8.875000        9.5
         max     10.000000    9.000000        9.5

In [ ]:
movies.groupby(['Industry','genre']).describe().T

Industry         Bollywood                                            \
genre               Action      Comedy  Drama Mystereous    Romantic
Duration count    2.000000    2.000000    1.0        1.0    2.000000
         mean   130.000000  145.000000  150.0      180.0  150.000000
         std     14.142136    7.071068    NaN        NaN    0.000000
         min    120.000000  140.000000  150.0      180.0  150.000000
         25%    125.000000  142.500000  150.0      180.0  150.000000
         50%    130.000000  145.000000  150.0      180.0  150.000000
         75%    135.000000  147.500000  150.0      180.0  150.000000
         max    140.000000  150.000000  150.0      180.0  150.000000
Rating   count    2.000000    2.000000    1.0        1.0    2.000000
         mean     9.000000    7.500000    8.5        5.0    7.500000
         std      1.414214    2.121320    NaN        NaN    3.535534
         min      8.000000    6.000000    8.5        5.0    5.000000
         25%      8.500000    6.750000    8.5        5.0    6.250000
         50%      9.000000    7.500000    8.5        5.0    7.500000
         75%      9.500000    8.250000    8.5        5.0    8.750000
         max     10.000000    9.000000    8.5        5.0   10.000000

Industry       Hollywood                           Tollywood
genre             Action Comedy  Drama       SciFi    Action
Duration count       1.0    1.0    1.0    3.000000       1.0
         mean      180.0  120.0  180.0  156.666667     170.0
         std         NaN    NaN    NaN   30.550505       NaN
         min       180.0  120.0  180.0  130.000000     170.0
         25%       180.0  120.0  180.0  140.000000     170.0
         50%       180.0  120.0  180.0  150.000000     170.0
         75%       180.0  120.0  180.0  170.000000     170.0
         max       180.0  120.0  180.0  190.000000     170.0
Rating   count       1.0    1.0    1.0    3.000000       1.0
         mean        9.0    7.0    9.0    7.166667       9.5
         std         NaN    NaN    NaN    1.258306       NaN
         min         9.0    7.0    9.0    6.000000       9.5
         25%         9.0    7.0    9.0    6.500000       9.5
         50%         9.0    7.0    9.0    7.000000       9.5
         75%         9.0    7.0    9.0    7.750000       9.5
         max         9.0    7.0    9.0    8.500000       9.5

### 8. Average rating of each industry

In [ ]:
movies.groupby('Industry')['Rating '].mean()

### 9.average rating of romantic movies industries wise?

In [ ]:
movies[movies['genre'].str.lower()=='Romantic'].groupby('Industry')['Rating '].mean()

In [ ]:
### 10.

In [ ]:
movies[movies['Language'].str.lower()=='english']
[['Name','Rating ']].sort_values(by='Rating ',ascending=False)

In [ ]:
movies[movies['Language'].str.lower()=='english'][['Name','Rating ']].sort_values(by='Rating ',ascending=False)

                    Name  Rating
4   Avengers-End of game      9.0
9                Titanic      9.0
5                  Tenet      8.5
7           Intersteller      7.0
12          The Dictator      7.0
8                Gravity      6.0

In [ ]:
movies.head()

                       Name   Industry       genre Language  Duration  Rating
0                  Bahubali  Tollywood      Action   Telugu       170      9.5
1                Brahmastra  Bollywood  Mystereous    Hindi       180      5.0
2  uri -the surgical strike  Bollywood      Action    Hindi       120     10.0
3                      DDLJ  Bollywood    Romantic    Hindi       150     10.0
4      Avengers-End of game  Hollywood      Action  English       180      9.0

In [ ]:
movies.columns

Index(['Name', 'Industry', 'genre', 'Language', 'Duration', 'Rating '], dtype='object')